apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: crud-backend
  namespace: monitoring
spec:
  namespaceSelector:
    matchNames:
      - crud
  selector:
    matchLabels:
      app: backend
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
