name: 02 - Build & Push Frontend

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: eu-west-3
  FRONTEND_REPO: crud-frontend

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push frontend image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}

          docker build \
            -t ${{ steps.ecr.outputs.registry }}/${FRONTEND_REPO}:${IMAGE_TAG} \
            ./frontend/crudfront

          docker push \
            ${{ steps.ecr.outputs.registry }}/${FRONTEND_REPO}:${IMAGE_TAG}
