name: AWS OIDC Test

on:
  push:
    branches: [ "master" ]

permissions:
  id-token: write
  contents: read

jobs:
  test-aws-auth:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_ROLE_ARN }}
          aws-region: eu-west-3

      - name: Who am I on AWS?
        run: aws sts get-caller-identity
